@charset "UTF-8";
html {
  font-size: 62.5%;
}

.ventanaModal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.ventanaModal .contenido-modal {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 50%;
  height: auto;
  padding: 20px;
  border-radius: 8px;
}
.ventanaModal .contenido-modal .carritoVacio {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.ventanaModal .contenido-modal .btn-carrito {
  display: flex;
  justify-content: space-between;
}
.ventanaModal .contenido-modal button {
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.ventanaModal .contenido-modal button:hover {
  background-color: #007bff;
  color: white;
  transform: scale(1.05);
}
.ventanaModal .contenido-modal button:focus {
  outline: none;
}
.ventanaModal .contenido-modal button:first-of-type {
  background-color: #28a745;
  color: white;
}
.ventanaModal .contenido-modal button:last-of-type {
  background-color: #dc3545;
  color: white;
}

.pantalla_carga {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../imagenes/gif_loader.svg") 50% 50% no-repeat rgb(0, 0, 0);
  opacity: 0.9;
  transition: opacity 0.5s ease-out;
}

.pantalla_carga.hidden {
  opacity: 0;
  pointer-events: none;
}

.menu_navegacion {
  background-color: black;
  padding: 10px;
}
.menu_navegacion .icono-hamburguesa {
  color: white;
  border: 1px solid brown;
  font-size: 2rem;
}
.menu_navegacion .logo-sitio {
  display: flex;
  max-width: 70px;
  height: auto;
  margin: 5px;
  transition: transform 0.3s ease;
}
.menu_navegacion .logo-sitio:hover {
  transform: scale(1.1);
}
@media (max-width: 48rem) {
  .menu_navegacion .logo-sitio {
    display: none;
  }
  .menu_navegacion .menu_navegacion {
    padding: 10px;
  }
}

.nav_left {
  display: flex;
  justify-content: end;
}
.nav_left a {
  font-size: 2rem;
  margin: 0.9rem;
  color: white;
}
.nav_left a:hover {
  color: red;
}
@media (max-width: 76.8rem) {
  .nav_left {
    flex-direction: column;
    align-items: center;
  }
  .nav_left a {
    font-size: 1.6rem;
    margin: 0.3rem;
  }
}
@media (max-width: 48rem) {
  .nav_left a {
    font-size: 1.4rem;
    margin: 0.2rem;
  }
}

.presentacion_envio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: #53576b;
  margin-top: 1rem;
}
.presentacion_envio .contenedor-texto {
  margin-right: 2rem;
}
.presentacion_envio .contenedor-texto h2 {
  color: white;
  font-size: 2.4rem;
  margin-bottom: 1rem;
}
.presentacion_envio .contenedor-texto p {
  color: white;
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
.presentacion_envio .contenedor-texto .listas {
  list-style: none;
  padding: 0;
}
.presentacion_envio .contenedor-texto .listas li {
  color: white;
  font-size: 1.4rem;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.presentacion_envio .contenedor-texto .listas li:before {
  content: "✔";
  color: #28a745;
  margin-right: 0.5rem;
}
.presentacion_envio .contenedor-texto .btn {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.8rem 1.5rem;
  background-color: black;
  color: #fff;
  text-decoration: none;
  border-radius: 0.5rem;
  font-size: 1.4rem;
}
.presentacion_envio .contenedor-texto .btn:hover {
  background-color: brown;
}
.presentacion_envio .contenedor-imagen {
  flex: 1;
}
.presentacion_envio .contenedor-imagen img {
  max-width: 100%;
  border-radius: 0.5rem;
}
@media (max-width: 768px) {
  .presentacion_envio {
    flex-direction: column;
  }
  .presentacion_envio .contenedor-texto {
    margin-right: 0;
    text-align: center;
  }
  .presentacion_envio .contenedor-texto .btn {
    margin: 1rem auto;
  }
  .presentacion_envio .contenedor-imagen {
    margin-top: 1.5rem;
  }
}
@media (max-width: 480px) {
  .presentacion_envio {
    padding: 1rem;
  }
  .presentacion_envio .contenedor-texto h2 {
    font-size: 2rem;
  }
  .presentacion_envio .contenedor-texto p {
    font-size: 1.4rem;
  }
  .presentacion_envio .contenedor-texto .btn {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
  }
  .presentacion_envio .contenedor-imagen img {
    border-radius: 0.3rem;
  }
}

.como-comprar h2 {
  font-size: 2.8rem;
  color: #333;
}
.como-comprar .card {
  border: none;
  border-radius: 0.5rem;
}
.como-comprar .card img {
  border-radius: 0.5rem 0.5rem 0 0;
}
.como-comprar .card .card-title {
  font-size: 1.6rem;
  color: #007bff;
}
.como-comprar .card .card-text {
  font-size: 1.4rem;
  color: #555;
}
.como-comprar .card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
@media (max-width: 768px) {
  .como-comprar h2 {
    font-size: 2.4rem;
  }
  .como-comprar .card-title {
    font-size: 1.4rem;
  }
  .como-comprar .card-text {
    font-size: 1.2rem;
  }
}

.contacto {
  background-color: #121212;
  padding: 5rem 0;
}
.contacto h2 {
  font-size: 2.8rem;
  color: #ffffff;
  margin-bottom: 2rem;
}
.contacto p {
  font-size: 1.6rem;
  color: #bbbbbb;
  margin-bottom: 3rem;
}
.contacto .form-label {
  font-size: 1.4rem;
  color: #ffffff;
}
.contacto .form-control {
  background-color: #333333;
  color: #ffffff;
  border: 1px solid #444444;
  border-radius: 0.5rem;
  padding: 1rem;
}
.contacto .form-control:focus {
  background-color: #444444;
  border-color: #007bff;
  outline: none;
}
.contacto button {
  font-size: 1.6rem;
  background-color: #007bff;
  border: none;
  padding: 0.8rem 2rem;
  color: #ffffff;
  border-radius: 0.5rem;
}
.contacto button:hover {
  background-color: #0056b3;
  transition: background-color 0.3s ease;
}

.carrito-contenedor {
  position: relative;
  display: inline-block;
}
.carrito-contenedor .contador {
  position: absolute;
  top: -8px;
  right: -15;
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
}

.tarjetas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: transform 0.3s ease;
  background-color: black;
}
.tarjetas:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.tarjetas img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}
.tarjetas .tarjeta_cuerpo {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tarjetas .tarjeta_cuerpo .tarjeta_titulo {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: white;
}
.tarjetas .tarjeta_cuerpo .tarjeta_texto {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #e6e1e1;
}
.tarjetas .tarjeta_cuerpo .precio {
  font-size: 1.7rem;
  color: #28a745;
  font-weight: bold;
}
.tarjetas label {
  font-size: 1.4rem;
  color: #d4d4d4;
  margin-right: 0.5rem;
}
.tarjetas input {
  width: 80px;
  padding: 0.5rem;
  font-size: 1.2rem;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 0.5rem;
}
.tarjetas input:focus {
  outline: none;
  border-color: brown;
}
.tarjetas button {
  padding: 10px 10px;
  background-color: #050801;
  color: #03e9f4;
  border: none;
  border-radius: 5px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}
.tarjetas button:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 2px #03e9f4, 0 0 5px #03e9f4, 0 0 10px #03e9f4, 0 0 20px #03e9f4;
}

@media (max-width: 576px) {
  .tarjeta_titulo {
    font-size: 1.4rem;
  }
  .tarjeta_texto {
    font-size: 1.2rem;
  }
  .precio {
    font-size: 1.6rem;
  }
}
.error_inicializacion {
  color: #e74c3c;
  background-color: #fdecea;
  border: 2px solid #f1948a;
  padding: 1.5rem;
  text-align: center;
  margin: 2rem auto;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  max-width: 600px;
  animation: fadeIn 0.4s ease-in-out;
}
@media (max-width: 768px) {
  .error_inicializacion {
    font-size: 1.4rem;
    padding: 1rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.swal2-formulario {
  background-color: #3085d6;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  font-size: 16px;
  text-align: center;
}

.footer {
  background-color: black;
  margin-top: 1rem;
  padding: 20px;
  text-align: center;
}
.footer h2 {
  margin-bottom: 10px;
  font-size: 2rem;
  font-family: "Rubik Mono One", serif;
  color: whitesmoke;
}
.footer p {
  margin: 5px 0;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem;
}
.footer a {
  color: #007bff;
  text-decoration: none;
}
.footer .iconos-redes-sociales {
  margin: 15px 0;
}
.footer .iconos-redes-sociales a {
  margin: 0 10px;
  font-size: 1.5rem;
  transition: color 0.3s ease, box-shadow 0.3s ease;
}
.footer .iconos-redes-sociales a.icono-twitter {
  color: #1DA1F2;
}
.footer .iconos-redes-sociales a.icono-github {
  color: white;
}
.footer .iconos-redes-sociales a.icono-linkedin {
  color: #0077B5;
}
.footer .iconos-redes-sociales a.icono-instagram {
  color: #C13584;
}
.footer .iconos-redes-sociales a:hover {
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/*# sourceMappingURL=styles.css.map */
